app.port=9980
app.name=log-collector
app.idle-timeout=600000
app.log-file=
app.log-file-retain-days=30
app.accept-queue-size=100000
app.start-graphite=false
app.graphite-server=172.0.0.1
app.graphite-port=2003
app.graphite-prefix=LGC
app.connect-pool-size=12
app.job-confirmation-timeout=300000
result-file.name=log-collector-data.log